.paging-controls {
    display: flex;

    flex-wrap: wrap;

    background: #209030;
}

.paging-controls__select {
    padding: 0.5rem 0.25rem;

    color: #ffffff;
    background: #209030;
    border-color: #209030;
}

.paging-controls__link {
    margin-right: 0.5rem;
    padding: 0.5rem 0.25rem;

    color: #ffffff;

    text-align: center;
    text-decoration: none;

    flex-grow: 1;

    cursor: pointer;
}

.paging-controls__indicator {
    padding: 0.5rem 0.25rem;

    color: #ffffff;
    
    cursor: default;
}