.players-section__paging-controls-container {
    margin-top: 1.5rem;
}

.players-section__paging-controls-container_position_bottom {
    margin-top: 1rem;
}

.players-section__players-list-container {
    margin-top: 1rem;
}