.team-item-for-header {
    display: block;
}

.team-item-for-header__team-item {
    display: flex;
}

.team-item-for-header__name {
    text-decoration: none;
}

.team-item-for-header__tabpanel-container {
    margin-top: 1rem;
}